<!DOCTYPE html>
<html>
<head>
    <title>Confirmar logout</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    </style>
</head>

<body>
<h2>Deseja realmente sair?</h2>
<form method="post">
    <input type="submit" name="confirmar" value="Confirmar">
    <input type="submit" name="cancelar" value="Cancelar">
</form>
</body>
</html>
